:root {
    --background: whitesmoke;
    --background-secondary: lightgray;
    --text-primary: #000;
    --accent: #3B71CA;
  }

  [data-theme='dark'] {
    --background: #000;
    --background-secondary: rgb(47, 47, 47);
    --text-primary: #fff;
    --accent: #3B71CA;
  }

  .App {
    color: var(--text-primary);
    background-color: var(--background);
    padding: 20px;
    height: 100vh;
    transition: all .5s;
  }

  span {
    color: var(--accent);
  }

  button.btn {
    color: var(--text-secondary);
    background-color: var(--background);
    transition: all .5s;
  }

  button.btn:hover {
    background-color: var(--accent);
  }

  button.btn-close {
    color: var(--text-primary);
  }

  div.card {
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border-radius: 10px;
  }

  div.modal-content {
    background-color: var(--background-secondary);
    color: var(--text-primary);
  }